<script setup lang="ts">
import DeclarativeRendering from './components/DeclarativeRendering.vue';
import AttributeBindings from './components/AttributeBindings.vue';
import EventListeners from './components/EventListeners.vue';
</script>
<template>
  <h1> Hello World </h1>
  <DeclarativeRendering/>
  <AttributeBindings/>
  <EventListeners/>
</template>
